/* COLORS */
/* BASES */
/* CONTEXTUAL COLORS */
/* CUSTOM COLORS */
/* COLORS END */
/* Z-INDEXES  */
/* Z-INDEXES END */
/* DEFAULTS */
/* DEFAULTS END */
/* MISC. MODULES CONFIG */
/* MISC. MODULES CONFIG END */
/* COMPONENTS */
/* WRAPPER */
/* BUTTONS */
/* CARDS */
/* LARGE HERO */
/* NAVS */
/* SIDEBAR */
/* SIDEBAR BUTTONS */
/* MAIN */
/* FROM OLD CSS */
/* FOOTER */
/* PRIMARY NAV */
/* FOOTER NAV */
/* MOBILE NAV */
/* ROWS */
/* SOCIAL ICONS */
/* SOCIAL MEDIA BUTTONS */
/* TESTIMONIAL */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', 'Arial', sans-serif;
    padding: 0;
    margin: 0;
    color: #111;
    background: #EEE;
}
body.sticky-top {}
@media (min-width: 768px) {
    body.sticky-top {
        padding-top: 60px;
    }
}
img {
    max-width: 100%;
    height: auto;
}
.main-view {
    margin-left: calc(304px + 1.5rem);
    margin-right: 1.15rem;
}
@media (max-width: 480px) {
    .main-view {
        max-width: 1236px;
        padding: 25px;
        margin-left: auto;
        margin-right: auto;
    }
}
.invisible {
    visibility: hidden;
}
.hide {
    display: none;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.scroll-lock {
    overflow: hidden;
}

.btn {
    text-decoration: none;
    display: inline-block;
    color: rgb(51, 51, 51);
    border: 1px solid rgb(219, 219, 219);
    border-radius: 7px;
    background-color: rgb(230, 230, 230);
    font-size: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-right: 1.2rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

.btn:hover {
    background-color: rgb(219, 219, 219);
}

.btn--primary {
    color: white;
    border: 1px solid rgb(51, 115, 171);
    border-radius: 7px;
    background-color: rgb(51, 122, 183);
}

.btn--primary:hover {
    background-color: rgb(51, 115, 171);
}

.btn--success {
    color: white;
    border: 1px solid rgb(92, 171, 92);
    border-radius: 7px;
    background-color: rgb(92, 184, 92);
}

.btn--success:hover {
    background-color: rgb(92, 171, 92);
}

.btn--info {
    color: white;
    border: 1px solid rgb(92, 182, 209);
    border-radius: 7px;
    background-color: rgb(91, 192, 222);
}

.btn--info:hover {
    background-color: rgb(92, 182, 209);
}

.btn--warning {
    color: white;
    border: 1px solid rgb(227, 165, 79);
    border-radius: 7px;
    background-color: rgb(240, 173, 78);
}

.btn--warning:hover {
    background-color: rgb(227, 165, 79);
}

.btn--danger {
    color: white;
    border: 1px solid rgb(204, 83, 79);
    border-radius: 7px;
    background-color: rgb(217, 83, 79);
}

.btn--danger:hover {
    background-color: rgb(204, 83, 79);
}

.btn--large {
    font-size: 1.25rem;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 0.3125rem;
    margin-bottom: 0.3125rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.btn--xlarge {
    font-size: 1.6rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 1.92rem;
    padding-right: 1.92rem;
    padding-right: 1.92rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    margin-left: 0.64rem;
    margin-right: 0.64rem;
}
header {
    position: relative;
    background-color: rgb(35, 70, 220);
    color: #FFF;
    padding: 1rem 1.125rem;
    margin-bottom: 2.5rem;
    border-bottom: 5px solid rgb(24, 48, 154);
}
header p span {
    float: right;
}
header .section-title {
    text-align: center;
    font-weight: 100;
    font-size: 2.4rem;
}
.icon {
    display: inline-block;
    margin: 1rem 0;
    border-radius: 9999px;
    width: 40px;
    height: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.icon:hover {
    cursor: pointer;
}
.icon--text {
    line-height: 40px;
    font-size: 2.15rem;
    font-weight: 600;
}
.icon--text.shrink {
    font-size: 1.55rem;
}
#item-pane {
    float: left;
    position: relative;
    width: 50%;
    top: -55px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 2px 4px 3px 3px #555;
    background-color: #BBB;
    color: #444;
    padding: 25px 15px;
}
#item-pane .heading {
    margin: 0;
    color: inherit;
    text-transform: capitalize;
    font-size: 1.65rem;
}
#item-pane .stock {
    display: block;
}
#item-pane .back {
    float: right;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 80px;
    height: 80px;
    right: 35px;
    background: url('/icons/back.png');
    border: none;
    background-size: cover;
}
#item-pane .back:hover {
    cursor: pointer;
}
#item-nav-buttons {
    float: right;
    position: relative;
    width: 40%;
    top: -5px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    background-color: #BBB;
    color: #444;
    padding: 10px 15px;
}
#item-nav-buttons button {
    text-indent: 999px;
    border: none;
    margin: 0 10px;
    display: inline-block;
    height: 50px;
    width: 50px;
}
#item-nav-buttons button:hover {
    cursor: pointer;
}
#item-nav-buttons p {
    display: inline-block;
    position: relative;
    top: -50%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
}
#item-nav-buttons .next {
    background: url('/icons/next.png');
    background-size: cover;
}
#item-nav-buttons .previous {
    background: url('/icons/previous.png');
    background-size: cover;
}
.legend {}
.legend__list {
    display: block;
    list-style-type: none;
    margin: 5px 25px;
    padding: 5px 15px;
}
.legend__list li {
    display: block;
    margin: 10px 0;
}
.legend__list li span {
    display: block;
    float: right;
    text-align: right;
    font-weight: 600;
}
.legend__heading {
    color: rgb(35, 70, 220);
    font-weight: 100;
    text-align: center;
    margin: 1.35rem 0;
}
#main-nav {
    position: fixed;
    top: 0;
    height: 100%;
    width: 240px;
    background-color: rgb(35, 70, 220);
    border-right: 3px solid #FFF;
    color: #FFF;
    box-shadow: 5px 0 5px 1px #333;
}
#main-nav .list-container {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
    height: auto;
    overflow-y: scroll;
}
#main-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#main-nav ul li a {
    text-decoration: none;
    color: inherit;
    transition: all 0.15s ease-out;
    display: block;
    width: 100%;
    padding: 1rem 1.35rem;
    font-size: 1.45rem;
    font-weight: 900;
    color: #FFF;
}
#main-nav ul li a:hover {
    text-decoration: none;
}
#main-nav ul li a:visited {
    text-decoration: none;
}
#main-nav ul li a:active {
    text-decoration: none;
}
#main-nav ul li a:hover {
    background-color: #FFF;
    color: rgb(35, 70, 220);
}
form {
    margin: 0;
}
form .errors {
    text-align: center;
    color: #C00;
    background: #FCC;
    border: 1px solid #F77;
    padding: 1.15rem 0.15rem;
}
form .errors::after {
    content: '';
    clear: both;
    display: table;
}
form .form-group {
    font-size: 1.35rem;
    margin: 0;
    padding: 7px 0;
}
form .form-group p {
    margin: 0;
    margin-bottom: 5px;
}
form .form-group input {
    font-size: inherit;
}
form .form-group input.bordered {
    border: 1px solid #CCC;
    padding: 0.15rem 0.2rem;
}
form .form-group textarea {
    padding: 15px;
    width: 100%;
    font-size: inherit;
}
form .form-group::after {
    content: '';
    clear: both;
    display: table;
}
form .form-group.row {
    padding: 5px 0;
}
form .form-group.row input {
    border: 0;
    height: 25px;
    width: 100%;
}
form .form-group--inline {
    margin: 0;
}
form .form-group--inline input {
    display: inline;
    float: right;
}
.submit:not(.btn) {
    margin: 15px 0;
    padding: 5px 15px;
    width: 100%;
    background-color: rgb(35, 70, 220);
    box-shadow: 0 4px 2px #777;
    color: #FFF;
    font-size: 1.65rem;
    border: none;
}
.submit:not(.btn):disabled {
    cursor: not-allowed;
    background-color: #CCC;
    color: #333;
}
.submit:not(.btn):disabled:hover {
    color: #111;
}
.submit:not(.btn):hover {
    background-color: rgb(35, 70, 220);
}
.headings {
    min-height: 1px;
    margin-bottom: 30px;
    font-weight: 700;
}
.headings span {
    display: block;
}
.headings .left {
    float: left;
}
.headings .right {
    float: right;
}
.modal__body label, .modal__body p:not(.errors) {
    height: 35px;
    text-align: right;
    padding-right: 25px;
    font-weight: 600;
    float: left;
    width: 40%;
}
.modal__body input {
    float: left;
    border: 0;
    border-bottom: 2px solid #CCC;
    height: 35px;
    font-size: inherit;
}
table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    clear: both;
}
table thead .heading {
    padding-top: 25px;
    background-color: #FFF;
    border-bottom: 1px solid #333;
    font-size: 2.8rem;
    font-weight: 100;
}
table thead th {
    padding: 0.35rem 0.1rem;
    border-bottom: 1px solid #333;
}
table .row {
    color: inherit;
}
table .row td {
    padding: 10px 15px;
}
table .row .name {
    text-align: left;
}
table .row .stock {
    text-align: right;
    font-weight: 600;
}
table .row:hover {
    cursor: pointer;
}
table .row--striped {
    background-color: #CCC;
}
table .row--striped:hover {
    background-color: rgb(217, 204, 204);
}
table .row--low {
    background-color: rgba(238, 17, 17, 0.5) !important;
    color: rgb(240, 32, 32);
}
table .row--low:hover {
    background-color: rgba(191, 13, 13, 0.5) !important;
}
table .row.active {
    background-color: rgb(35, 70, 220) !important;
    color: #FFF;
}
table .row.active:hover {
    background-color: rgb(35, 70, 220) !important;
    color: #FFF;
}
table .row:hover {
    background-color: #DDD;
}
table td, table th {
    text-align: right;
}
table td:first-child, table th:first-child {
    text-align: left;
}
#item thead th {
    text-align: right;
    font-size: 1.65rem;
    font-weight: 200;
    padding: 2px 0;
    border-bottom: 1px solid #777;
}
#item tbody tr .bolded {
    font-weight: 800;
}
#item tbody tr td:nth-child(2) {
    float: left;
}
.modal {
    transition: all 0.3s ease-out;
    -webkit-animation: modal-appear 0.25s;
            animation: modal-appear 0.25s;
    opacity: 0;
    visibility: hidden;
    z-index: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(223, 223, 223, 0.85);
}
.modal--open {
    opacity: 1;
    visibility: visible;
    z-index: 900;
    -webkit-transform: scale(1);
            transform: scale(1);
}
.modal--dark {
    background-color: rgba(43, 43, 43, 0.85);
}
.modal__header {
    text-align: center;
    color: rgb(36, 76, 255);
    padding-bottom: 10px;
    border-bottom: 1px solid #BBB;
}
.modal__header span {
    display: inline-block;
    margin-top: 15px;
}
.modal__close {
    display: block;
    z-index: 910;
    width: 4rem;
    height: 4rem;
    border-radius: 999px;
    background: rgb(35, 70, 220);
    text-align: center;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    /*text-shadow: 1px 2px 3px #333;*/
}
.modal__close::after {
    position: relative;
    top: 1rem;
    font-size: 2rem;
    font-weight: 800;
    -webkit-transform-origin: top right;
            transform-origin: top right;
    -webkit-transform: scaleX(1.2);
            transform: scaleX(1.2);
    content: 'X';
}
.modal__close:hover {
    background: rgb(36, 65, 194);
}
@media (max-width: 480px) {
    .modal__close {
        top: 10px;
        right: 10px;
        -webkit-transform-origin: top right;
                transform-origin: top right;
        -webkit-transform: scale(0.6);
                transform: scale(0.6);
    }
}
.modal__body {
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 2.4rem;
    box-shadow: 0 4px 3px 2px #333;
    padding: 35px;
    font-size: 1.3rem;
    position: absolute;
    width: 40rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.modal__body--scrollable {
    max-height: calc(100vh - 4rem);
    margin-top: 2rem;
    margin-bottom: 2rem;
    overflow-y: auto;
}
@media (max-width: 480px) {
    .modal__body {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
#log {
    overflow-y: scroll;
}
@-webkit-keyframes modal-appear {
    from {
        opacity: 0;
        visibility: hidden;
        z-index: 0;
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
    }
    to {
        opacity: 1;
        visibility: visible;
        z-index: 900;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@keyframes modal-appear {
    from {
        opacity: 0;
        visibility: hidden;
        z-index: 0;
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
    }
    to {
        opacity: 1;
        visibility: visible;
        z-index: 900;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
#options {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    transition: all 0.3s ease-out;
    position: fixed;
    width: 9rem;
    right: -9rem;
}
#options button {
    box-shadow: 3px 5px 3px 2px #333;
    margin: 15px 0;
    border-top-left-radius: 4.5rem;
    border-bottom-left-radius: 4.5rem;
}
#options img {
    width: 50%;
}
#options .desc {
    margin: 0;
    text-align: center;
    font-weight: 100;
    font-size: 1.15rem;
}
.btn-group {
    transition: width 0.3s ease-out;
}
.btn-group button {
    margin-right: 15px;
    margin-left: 15px;
}
.options-open main {
    left: -9rem;
}
.options-open #options {
    right: 0;
}
.options-open .btn-group, .options-open #sidebar-toggle {
    left: -240px;
}
.row {
    position: relative;
}
.row .col-xs-1 {
    float: left;
    width: 6.33333%;
    margin-right: 2%;
}
.row .col-xs-1:last-child {
    margin-right: 0;
}
.row .col-xs-2 {
    float: left;
    width: 14.66667%;
    margin-right: 2%;
}
.row .col-xs-2:last-child {
    margin-right: 0;
}
.row .col-xs-3 {
    float: left;
    width: 23%;
    margin-right: 2%;
}
.row .col-xs-3:last-child {
    margin-right: 0;
}
.row .col-xs-4 {
    float: left;
    width: 31.33333%;
    margin-right: 2%;
}
.row .col-xs-4:last-child {
    margin-right: 0;
}
.row .col-xs-5 {
    float: left;
    width: 39.66667%;
    margin-right: 2%;
}
.row .col-xs-5:last-child {
    margin-right: 0;
}
.row .col-xs-6 {
    float: left;
    width: 48%;
    margin-right: 2%;
}
.row .col-xs-6:last-child {
    margin-right: 0;
}
.row .col-xs-7 {
    float: left;
    width: 56.33333%;
    margin-right: 2%;
}
.row .col-xs-7:last-child {
    margin-right: 0;
}
.row .col-xs-8 {
    float: left;
    width: 64.66667%;
    margin-right: 2%;
}
.row .col-xs-8:last-child {
    margin-right: 0;
}
.row .col-xs-9 {
    float: left;
    width: 73%;
    margin-right: 2%;
}
.row .col-xs-9:last-child {
    margin-right: 0;
}
.row .col-xs-10 {
    float: left;
    width: 81.33333%;
    margin-right: 2%;
}
.row .col-xs-10:last-child {
    margin-right: 0;
}
.row .col-xs-11 {
    float: left;
    width: 89.66667%;
    margin-right: 2%;
}
.row .col-xs-11:last-child {
    margin-right: 0;
}
.row .col-xs-12 {
    float: left;
    width: 98%;
    margin-right: 2%;
}
.row .col-xs-12:last-child {
    margin-right: 0;
}
/* BEGIN EQUAL HEIGHT CSS RULES*/
.flexbox .row--equal-height-md {}
.flexbox .row--equal-height-md > div {
    float: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.flexbox .row--equal-height-lg {}
.flexbox .row--equal-height-lg > div {
    float: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.row::after {
    content: '';
    clear: both;
    display: table;
}
@media (min-width: 480px) {
    .row {
        @mixin column $i, sm, $gutter-width;
    }
}
@media (min-width: 768px) {
    .row {
        @mixin column $i, md, $gutter-width;
    }
}
@media (min-width: 991px) {
    .row {
        @mixin column $i, lg, $gutter-width;
    }
}
@media (min-width: 480px) {
    .row {
        @mixin column $i, sm, $gutter-width;
    }
}
@media (min-width: 768px) {
    .row {
        @mixin column $i, md, $gutter-width;
    }
}
@media (min-width: 991px) {
    .row {
        @mixin column $i, lg, $gutter-width;
    }
}
@media (min-width: 480px) {
    .row {
        @mixin column $i, sm, $gutter-width;
    }
}
@media (min-width: 768px) {
    .row {
        @mixin column $i, md, $gutter-width;
    }
}
@media (min-width: 991px) {
    .row {
        @mixin column $i, lg, $gutter-width;
    }
}
@media (min-width: 480px) {
    .row {
        @mixin column $i, sm, $gutter-width;
    }
}
@media (min-width: 768px) {
    .row {
        @mixin column $i, md, $gutter-width;
    }
}
@media (min-width: 991px) {
    .row {
        @mixin column $i, lg, $gutter-width;
    }
}
@media (min-width: 480px) {
    .row {
        @mixin column $i, sm, $gutter-width;
    }
}
@media (min-width: 768px) {
    .row {
        @mixin column $i, md, $gutter-width;
    }
}
@media (min-width: 991px) {
    .row {
        @mixin column $i, lg, $gutter-width;
    }
}
@media (min-width: 480px) {
    .row {
        @mixin column $i, sm, $gutter-width;
    }
}
@media (min-width: 768px) {
    .row {
        @mixin column $i, md, $gutter-width;
    }
}
@media (min-width: 991px) {
    .row {
        @mixin column $i, lg, $gutter-width;
    }
}
@media (min-width: 480px) {
    .row {
        @mixin column $i, sm, $gutter-width;
    }
}
@media (min-width: 768px) {
    .row {
        @mixin column $i, md, $gutter-width;
    }
}
@media (min-width: 991px) {
    .row {
        @mixin column $i, lg, $gutter-width;
    }
}
@media (min-width: 480px) {
    .row {
        @mixin column $i, sm, $gutter-width;
    }
}
@media (min-width: 768px) {
    .row {
        @mixin column $i, md, $gutter-width;
    }
}
@media (min-width: 991px) {
    .row {
        @mixin column $i, lg, $gutter-width;
    }
}
@media (min-width: 480px) {
    .row {
        @mixin column $i, sm, $gutter-width;
    }
}
@media (min-width: 768px) {
    .row {
        @mixin column $i, md, $gutter-width;
    }
}
@media (min-width: 991px) {
    .row {
        @mixin column $i, lg, $gutter-width;
    }
}
@media (min-width: 480px) {
    .row {
        @mixin column $i, sm, $gutter-width;
    }
}
@media (min-width: 768px) {
    .row {
        @mixin column $i, md, $gutter-width;
    }
}
@media (min-width: 991px) {
    .row {
        @mixin column $i, lg, $gutter-width;
    }
}
@media (min-width: 480px) {
    .row {
        @mixin column $i, sm, $gutter-width;
    }
}
@media (min-width: 768px) {
    .row {
        @mixin column $i, md, $gutter-width;
    }
}
@media (min-width: 991px) {
    .row {
        @mixin column $i, lg, $gutter-width;
    }
}
@media (min-width: 480px) {
    .row {
        @mixin column $i, sm, $gutter-width;
    }
}
@media (min-width: 768px) {
    .row {
        @mixin column $i, md, $gutter-width;
    }
}
@media (min-width: 991px) {
    .row {
        @mixin column $i, lg, $gutter-width;
    }
}
@media (min-width: 768px) {
    .flexbox .row--equal-height-md {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}
@media (min-width: 991px) {
    .flexbox .row--equal-height-lg {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}
.sidebar {
    transition: 0.2s all ease;
    position: fixed;
    z-index: 300;
    top: 0;
    left: 64px;
    height: 100%;
    background: rgb(35, 70, 220);
    color: rgb(255, 255, 255);
    width: 240px;
    padding: 20px 0;
    margin-right: 240px;
    box-shadow: 1px 0 4px 2px rgba(0, 0, 0, 0.5);
}
.sidebar input {
    display: block;
    margin: 15px 0;
    padding: 5px 15px;
    width: 90%;
    background: rgb(36, 53, 130);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1.15rem;
    margin: 0 auto;
    margin-bottom: 20px;
}
.sidebar input::-webkit-input-placeholder {
    color: #FFF;
    opacity: 0.75;
}
.sidebar input:-ms-input-placeholder {
    color: #FFF;
    opacity: 0.75;
}
.sidebar input::placeholder {
    color: #FFF;
    opacity: 0.75;
}
.sidebar #print-button {
    display: block;
    width: 80%;
    margin: 25px auto;
}
.sidebar .categories-list {
    padding: 0;
}
.sidebar .categories-list li {
    list-style-type: none;
}
.sidebar .categories-list li a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 0.5rem 0.65rem;
    color: #FFF;
}
.sidebar .categories-list li a:hover {
    color: inherit;
    text-decoration: none;
}
.sidebar .categories-list li a:visited {
    color: inherit;
    text-decoration: none;
}
.sidebar .categories-list li a:active {
    color: inherit;
    text-decoration: none;
}
.sidebar .categories-list li a:hover {
    background: rgb(36, 60, 168);
}
.sidebar--open {
    margin-right: 0;
}
.sidebar__title {
    margin-top: 0;
    font-weight: 100;
    font-size: 1.65rem;
    text-align: center;
}
.sidebar__aside-buttons {
    position: fixed;
    background: rgb(36, 65, 194);
    z-index: 300;
    top: 0;
    left: 0;
    height: 100%;
    width: 64px;
    padding: 1rem 0.75rem;
}
.sidebar__aside-buttons .icon.icon.icon {
    width: calc(64px - 1.5rem);
    height: calc(64px - 1.5rem);
}
.sidebar__aside-buttons .icon.icon.icon:hover {
    background: rgb(36, 55, 143);
}
.sidebar__aside-buttons__bottom {
    position: absolute;
    bottom: 0;
}
@media (max-width: 480px) {
    .sidebar__aside-buttons {
        display: none;
    }
}
@media (max-width: 480px) {
    .sidebar {
        display: none;
    }
}
.text {}
.text-center {
    text-align: center !important;
}
.text-right {
    text-align: right  !important;
}
.text-left {
    text-align: left   !important;
}
.text-sm {
    font-size: 0.75rem;
}
.text-md {
    font-size: 1rem;
}
.text-lg {
    font-size: 1.50rem;
}
.text-xl {
    font-size: 1.80rem;
}
.text-white {
    color: #FFF;
}
.text-black {
    color: #111;
}
.section-title {
    text-align: center;
    font-size: 2.15rem;
    font-weight: 100;
    margin-bottom: 1.5rem;
}
.section-title strong {
    font-weight: 500;
}
.section-title--less-margin {
    margin-top: 0;
    margin-bottom: 0.3rem !important;
}
.section-title--medium {
    font-weight: 300;
}
@media (min-width: 768px) {
    .section-title {
        font-size: 3.15rem;
        margin-bottom: 1.85rem;
    }
}
.section-title__icon {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.6rem;
}
@media (min-width: 480px) {
    .section-title__icon {
        display: inline-block;
        text-align: left;
        position: relative;
        top: 8px;
        margin-right: 0.5rem;
        margin-left: 0;
        margin-bottom: 0;
    }
}
.tooltip {
    position: relative;
}
.tooltip .tooltip-text {
    transition: all 0.2s ease-out;
    visibility: hidden;
    opacity: 0;
    min-width: 180px;
    max-width: 270px;
    font-size: 1.15rem;
    background-color: #111;
    color: #FFF;
    text-align: center;
    border-radius: 6px;
    box-shadow: 3px 2px 2px 1px #333;
    padding: 0.35rem 0.5rem;
    /* Position the tooltip */
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 120%;
}
@media print {
    .tooltip .tooltip-text {
        display: none !important;
    }
}
.tooltip:hover .tooltip-text {
    z-index: 1000 !important;
    opacity: 1;
    visibility: visible;
}
.wrapper {
    padding-left: 18px;
    padding-right: 18px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1236px;
}
.wrapper--medium {
    max-width: 1027px;
}
.wrapper--narrow {
    max-width: 470px;
}
.wrapper--b-margin {
    margin-bottom: 1rem;
}
@media (min-width: 480px) {
    .wrapper--b-margin {
        margin-bottom: 1.875rem;
    }
}
@media (min-width: 768px) {
    .wrapper--b-margin {
        margin-bottom: 2.875rem;
    }
}
@media (min-width: 991px) {
    .wrapper--b-margin {
        margin-bottom: 3.875rem;
    }
}
.wrapper--fluid-sm {
    padding-left: 0;
    padding-right: 0;
}
@media (min-width: 768px) {
    .wrapper--fluid-sm {
        padding-left: 18px;
        padding-right: 18px;
    }
}
.wrapper--fluid-md {
    padding-left: 0;
    padding-right: 0;
}
@media (min-width: 991px) {
    .wrapper--fluid-md {
        padding-left: 18px;
        padding-right: 18px;
    }
}

.item-group .item-card {
    position: relative;
    font-weight: 100;
    margin: 1.85rem 0;
    padding: 0.5rem 1.35rem;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.item-group .item-card.low {
    background: rgb(240, 32, 32);
    color: rgb(255, 255, 255);
}

.item-group .item-card__item-name {
    font-weight: inherit;
    font-size: 1.45rem;
    margin: 0.25rem 0;
    border-bottom: 1px solid #BBB;
    width: 80%;
}

.item-group .item-card__item-stock {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 15px;
    font-size: 1.6rem;
    font-weight: 600;
}

.item-group .item-card__options {
    opacity: 0;
}

.item-group .item-card:hover .item-card__options {
    opacity: 1;
}

.item-group__category {
    font-size: 2.65rem;
    font-weight: 100;
    border-bottom: 1px solid #CCC;
}

@media (min-width: 991px) {
    .item-group .item-card {
        display: inline-block;
        width: 46%;
        margin: 5px 2%;
    }
}
#date-change-buttons {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    position: fixed;
    left: 0;
    padding: 0 25px;
    width: 100%;
}
#date-change-buttons #back {
    float: left;
}
#date-change-buttons #forward {
    float: right;
}
