form {
    margin: 0;
    .errors {
        @mixin clearfix;
        text-align: center;
        color: #C00;
        background: #FCC;
        border: 1px solid #F77;
        padding: 1.15rem 0.15rem;
    }
    .form-group {
        @mixin clearfix;
        font-size: 1.35rem;
        margin: 0;
        padding: 7px 0;

        &.row {
            padding: 5px 0;
            input {
                border: 0;
                height: 25px;
                width: 100%
            }
        }

        p {
            margin: 0;
            margin-bottom: 5px;
        }

        input {
            font-size: inherit;
            &.bordered {
                border: 1px solid #CCC;
                padding: 0.15rem 0.2rem;
            }
        }

        .wide.wide.wide {
            display: block;
            float: none;
            text-align: center;
            width: 90%;
            margin-left: auto;
            margin-right: auto;

            &.no-border {
                border: none;
                border-bottom: 1px solid #CCC;
            }
        }

        textarea {
            padding: 15px;
            width: 100%;
            font-size: inherit;
        }


        &--inline {
            margin: 0;
            input {
                display: inline;
                float: right;
            }
        }
    }
}

.submit:not(.btn) {
    margin: 15px 0;
    padding: 5px 15px;
    width: 100%;
    background-color: $mainBlue;
    box-shadow: 0 4px 2px #777;
    color: #FFF;
    font-size: 1.65rem;
    border: none;
    &:disabled {
        cursor: not-allowed;
        background-color: #CCC;
        color: #333;
        &:hover { color: #111 }
    }
    &:hover { background-color: color($mainBlue, b(10%)) }
}

.headings {
    min-height: 1px;
    margin-bottom: 30px;
    font-weight: 700;
    span { display: block }
    .left { float: left }
    .right { float: right }
}

.modal__body form .form-group.inline {
    label, p:not(.errors) {
        height: 35px;
        padding-right: 25px;
        font-weight: 600;
        width: 40%;

        @mixin atSmall {
            float: left;
            text-align: right;
        }
    }
    input {
        border: 0;
        border-bottom: 2px solid #CCC;
        height: 35px;
        font-size: inherit;

        @mixin atSmall {
            float: left;
        }
    }
}

.form-group.controls {
    text-align: center;

    .num-entries {
        font-family: monospace;
        font-size: 1.65rem;
    }
    .multi-control-button {
        margin: 15px;
        font-size: 1.45rem;
        height: 2.5rem;
        width: 2.5rem;
        background: $mainBlue;
        border-radius: 999px;
        border: none;
        color: #FFF;
        @mixin clickable;
    }
}
