.icon {

    @mixin clickable;
    display: inline-block;
    margin: 1rem 0;
    border-radius: 9999px;

    width: 40px;
    height: 40px;
    color: $white;
    text-align: center;

    &--text {
        line-height: 40px;
        font-size: 2.15rem;
        font-weight: 600;
        &.shrink {
            font-size: 1.55rem;
        }
    }



}
