.sidebar {
    transition: 0.2s all ease;

    position : fixed;
    z-index  : $sidebarZ;
    top      : 0;
    left     : $sidebar-buttonsW;
    height   : calc(100% - 0);

    background : $sidebar-color;
    color      : $sidebar-text;
    width      : $sidebarW;

    padding: 20px 0;
    margin-right: $sidebarW;
    box-shadow: 1px 0 4px 2px color($black a(0.5));

    &--open { margin-right: 0 };

    &__title {
        margin-top: 0;
        font-weight: 100;
        font-size: 1.65rem;
        text-align: center;
    }

    input {
        display: block;
        margin: 15px 0;
        padding: 5px 15px;
        width: 90%;
        background: color($sidebar-color b(+ 35%));
        border: none;
        color: $white;
        font-size: 1.15rem;
        margin: 0 auto;
        margin-bottom: 20px;
        &::placeholder {
            color: #FFF;
            opacity: 0.75;
        }
    }

    #print-button {
        display: block;
        width: 80%;
        margin: 25px auto;
    }

    &__aside-buttons {

        position: fixed;
        background: color($sidebar-color b(+ 10));
        z-index  : $sidebarZ;
        top      : 0;
        left     : 0;
        height   : calc(100% - 0);
        width    : $sidebar-buttonsW;
        padding  : 1rem $sidebar-buttonsP;

        .icon.icon.icon {
            width: calc($sidebar-buttonsW - ($sidebar-buttonsP * 2));
            height: calc($sidebar-buttonsW - ($sidebar-buttonsP * 2));
            margin: 10px 0;

            @mixin smThanMedium {
                margin: 2px 0;
                transform: scale(0.8);
            }

            &--text {
                line-height: calc($sidebar-buttonsW - ($sidebar-buttonsP * 2));
                font-size: 2.5rem;
                font-weight: 600;
                &.shrink {
                    font-size: 1.55rem;
                }
            }

            &:hover {
                background: color($sidebar-color b(+30));
            }

            img {
                position: relative;
                top: 7px;
                display: block;
                margin: auto;
                width: calc($sidebar-buttonsW - ($sidebar-buttonsP * 4));
                height: calc($sidebar-buttonsW - ($sidebar-buttonsP * 4));
            }
        }

        &__bottom {
            position: absolute;
            bottom: 0;
        }

        @mixin isSmall {
            display: none;
        }
    }

    &__list {
        padding: 0;

        li {
            list-style-type: none;

            a {
                @mixin noTextDecoration;
                display: block;
                width: 95%;
                margin: 0 auto;
                padding: 0.5rem 0.95rem;
                color: #FFF;
                border-radius: 40px;

                &:hover, &.active {
                    background: color($sidebar-color b(+ 20));
                }
            }
        }
    }

    @mixin smThanMedium {
        display: none;
    }
}
