table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    clear: both;
    thead {
        .heading {
            padding-top: 25px;
            background-color: #FFF;
            border-bottom: 1px solid #333;
            font-size: 2.8rem;
            font-weight: 100;
        }
        th {
            padding: 0.35rem 0.1rem;
            border-bottom: 1px solid #333; 
        }
    }
    .row {
        @mixin clickable;
        &--striped {
            background-color: #CCC;
            &:hover { background-color: color(#CCC b(15%)) };
        }

        &--low {
            background-color: color($lowRed l(50%) a(50%)) !important;
            color: $lowRed;
            &:hover { background-color: color($lowRed l(40%) a(50%)) !important; }
        }
        &.active {
            background-color: $mainBlue !important;
            color: #FFF;
            &:hover {
                background-color: $mainBlue !important;
                color: #FFF;
            }
        }

        color: inherit;
        &:hover { background-color: #DDD }

        td { padding: 10px 15px; }

        .name { text-align: left }
        .stock {
            text-align: right;
            font-weight: 600;
        }
    }

    td, th {
        text-align: right;
        &:first-child { text-align: left }
    }

}

#item {
    thead th {
        text-align: right;
        font-size: 1.65rem;
        font-weight: 200;
        padding: 2px 0;
        border-bottom: 1px solid #777;
    }
    tbody {
        tr {
            .bolded { font-weight: 800 }
            td:nth-child(2) { float: left }
        }
    }
}
