.tooltip {
    position: relative;
    & &-text {
        transition: all 0.2s ease-out;
        visibility: hidden;
        opacity: 0;
        height: auto;
        min-width: 150px;
        max-width: 240px;
        font-size: 1.15rem;
        background: #FFF;
        color: #333;
        text-align: center;
        border-radius: 6px;
        box-shadow: 0 2px 1px 1px color(#333 a(0.5));
        padding: 0.35rem 0.5rem;
        /* Position the tooltip */
        left: 120%;
        @mixin vCenter;
        @media print { display: none !important}

        &.show- {
            &right { left: 120%  }
            &left  { left: -180% }
            &top  {
                @mixin hCenter;
                top  : -80%;
            }
            &bottom  {
                @mixin hCenter;
                top  : 140%;
            }
        }

        @mixin atMedium {
            min-width  : 210px;
            max-width  : 280px;
            font-size  : 1.05rem;
        }
    }
    &:hover &-text {
        z-index: 1000 !important;
        opacity: 1;
        visibility: visible;
    }
}
